<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dextea.mapper.CategoryMapper">
    <insert id="addCategory">
        INSERT INTO category (name) VALUES (#{name})
    </insert>
    <update id="updateCategory">
        UPDATE category SET name = #{name} WHERE id = #{id}
    </update>
    <delete id="deleteCategory">
        DELETE FROM category WHERE id = #{id}
    </delete>

    <select id="getAllCategory" resultType="Category">
        SELECT * FROM category_view
    </select>

    <select id="getCateByName" resultType="Category">
        SELECT * FROM category_view WHERE name = #{name}
    </select>

</mapper>