<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dextea.mapper.CommodityMapper">
    <resultMap id="commodityMap" type="Commodity">
        <result property="briefIntro" column="brief_intro"/>
    </resultMap>
    <insert id="addCommodity">
        insert into commodity (name,price,state)
        values (#{name},#{price},#{state})
    </insert>
    <update id="updateCommodity">
        update commodity
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="state != null">state = #{state},</if>
            <if test="briefIntro != null">brief_intro = #{briefIntro},</if>
            <if test="introduce != null">introduce = #{introduce},</if>
            <if test="custom != null">custom = #{custom},</if>
        </set>
        where id = #{id}
    </update>
    <select id="getAllCommodity" resultMap="commodityMap">
        select * from commodity
    </select>
    <select id="getCommById" resultMap="commodityMap">
        select * from commodity where id = #{id}
    </select>
    <select id="getAllCommBrief" resultMap="commodityMap">
        select id, name, price, state from commodity
    </select>
</mapper>