<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dextea.mapper.CommodityMapper">
    <resultMap id="commodityMap" type="Commodity">
        <result property="briefIntro" column="brief_intro"/>
    </resultMap>
    <insert id="addCommodity">
        insert into commodity (name,price,state)
        values (#{name},#{price},#{state})
    </insert>
    <select id="getAllCommodity" resultMap="commodityMap">
        select * from commodity
    </select>
    <select id="getCommById" resultMap="commodityMap">
        select * from commodity where id = #{id}
    </select>
    <select id="getAllCommBrief" resultMap="commodityMap">
        select id, name, price, state from commodity
    </select>
</mapper>