<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dextea.mapper.StoreMapper">

    <resultMap id="storeResultMap" type="Store">
        <result property="openState" column="open_state"></result>
        <result property="openTime" column="open_time"></result>
    </resultMap>

    <select id="getAllStore" resultMap="storeResultMap">
        select * from store
    </select>

    <insert id="add" parameterType="Store">
        insert into store(`name`,`area`,`address`,`phone`,`open_time`,`open_state`) value (#{name},#{area},#{address},#{phone},#{openTime},#{openState})
    </insert>

    <select id="getStoreById" resultMap="storeResultMap">
        select * from store where id=#{id}
    </select>

    <select id="countStoreByArea" resultType="java.lang.Integer">
        select count(*) from store where area like concat('%',#{area},'%')
    </select>

    <select id="searchStore" resultMap="storeResultMap">
        select * from store
        <where>
            <if test="id!=null and id!=''">
                and id = #{id}
            </if>
            <if test="name!=null and name!=''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="area!=null and area!='' and area!='[]'">
                and area=#{area}
            </if>
            <if test="phone!=null and phone!=''">
                and phone=#{phone}
            </if>
            <if test="openState!=null and openState!=''">
                and open_state=#{openState}
            </if>
        </where>
    </select>

    <update id="updateOpenState" parameterType="Store">
        update store set open_state=#{openState} where id=#{id}
    </update>

    <delete id="deleteStoreById">
        delete from store where id=#{id}
    </delete>

    <update id="updateStore" parameterType="Store">
        update store set `name`=#{name},`area`=#{area},`address`=#{address},`phone`=#{phone},`open_time`=#{openTime},`open_state`=#{openState} where id=#{id}
    </update>

</mapper>