<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dextea.mapper.StoreMapper">
    <resultMap id="storeResultMap" type="Store">
        <result property="openState" column="open_state"></result>
        <result property="openTime" column="open_time"></result>
    </resultMap>
    <select id="getAllStore" resultMap="storeResultMap">
        select * from store
    </select>
    <insert id="add" parameterType="Store">
        insert into store(`name`,`area`,`address`,`phone`,`open_time`,`open_state`) value (#{name},#{area},#{address},#{phone},#{openTime},#{openState})
    </insert>
</mapper>